.parent{
    border: 2px solid black;
    display:flex;
    height:600px;
    /* justify-content handles the horizontal direction or x-plane */
    justify-content:space-between;
    /* align-items handles the veritical direction or y-axis plane
 */
align-items:center  ;
flex-direction: row;
flex-wrap:wrap;
align-content:center;
gap:50px;
}
.child{
    width:100px;
    height:100px;
    background-color: aqua;
    background-image: radial-gradient(black,blue);
    border:1px solid white;
    color:white;
    font-size: 30px;
}